.post-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 500px;
}
.post-form input,
select,
.post-form textarea {
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
}
.post-form textarea {
  min-height: 100px;
}
.submit-btn {
  padding: 10px;
  background: #65FF81;
  color: #021919;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.submit-btn:hover {
  background: #56b968;
}
