
.search-modal { /* TODO : THIS CONTAINER TO THE CENTER */
  top: 0px;
  left: 0px;
  width: 354px;
  height: 100%;
  max-height: 200px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  flex-wrap: wrap;
  flex-direction: row;
}

.search-content {
  background: linear-gradient(#073B3A, #13A19E);
  color: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  align-items: center;
}

.modal-title
{
    font-size: 16px;
    font-weight: 500;
}

.filter-group {
  margin-bottom: 1rem;
}

.filter-button {
  height: 47px;
  max-width: fit-content;
  margin: 0.3rem;
  padding: 0.5rem 1.5rem; 
  border: 1px solid #F5FF65;
  background: #F5FF6580;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 4px 4px 0px #00000040 inset;
}

.filter-button.selected {
  background: #65FF81CC;
  color: white;
  border-color: #65FF81CC;
}

.continue-button {
  height: 51px;
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  background-color: #FFFFFF66;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #00000040 inset;
}

