.homepage-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  color: #073B3A;
  background-color: white;
  text-align: center;
  max-width: 100vw;
  overflow-x: hidden; /* estää karusellin puskemisen ulos */
}

.box-container{
    border: 1px solid #073B3A;
    border-radius: 10px;
}

.image-subtitle{
    font-size: 24px;
    font-weight: 500;
}

.subtitle-subtitle{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.big-image {
    width: 335px;
    border-radius: 10px;
}

.image-wrapper{
  display: inline-block;
  position: relative;
  overflow: hidden;    
  margin: 10px 10px 10px 10px;      /* tärkeä, jotta shadow näkyy vain kuvan päällä */
  border-radius: 10px; 
}

.image-wrapper::after {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  box-shadow: inset 0 4px 10px rgba(0,0,0,0.5);
  pointer-events: none;      /* jotta shadow ei estä klikkauksia */
}




@media (min-width: 768px) {
  .homepage-container {
    justify-content: space-between;
    padding: 40px;
  }

  .box-container {
    width: 600px;
    margin-bottom: 20px;
  }

  .big-image {
    min-width: 500px;
  }

  .image-wrapper {
    margin: 20px;
    min-width: 500px;
  }

  .image-subtitle {
    font-size: 28px;
  }

  .subtitle-subtitle {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .homepage-container {
    padding: 60px;
  }

  .box-container {
    margin-bottom: 30px;
  }

  .big-image {
    width: 550px; 
  }

  .image-wrapper {
    width: 30%;
    margin: 20px;
  }

  .image-subtitle {
    font-size: 32px; 
  }

  .subtitle-subtitle {
    font-size: 20px;
  }
}